
html, body {
  background-color: black;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  width: 100%;
}

.stratos-editor {
  background-color: #333333;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  width: 100%;
  position: relative;
}

.tab-list {
  background-color: #525151;
  left: 0;
  min-height: 30px;
  top: 0;
  width: 100%;
  position: absolute;
}

.tab {
  background-color: #333333;
  border-radius: 20px 20px 0 0;
  bottom: -5px;
  color: #c1c1c1;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  position: relative;
  width: 90px;
}

.tab-selected {
  color: white;
  z-index: 1;
}

.tab-name {
  font-family: Monaco;
  font-size: .75em;
  overflow: hidden;
  padding-left: 10px;
  position: relative;
  top: 6px;
  width: 100%;
  -webkit-user-select: none;
}

.editor-pane {
  height: 100%;
  outline-style: none;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
}

.buffer {
  background-color: #333333;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: relative;
}

.line {
  color: #ffffff;
  font-family: Consolas, monospace;
  font-size: 1em;
  white-space: pre;
  display: block;
}

.gutter {
  background-color: #525151;
  left: 0px;
  min-height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
}

.gutter-line {
  color: #d9d9d9;
  display: block;
  font-family: Consolas, monospace;
  font-size: 1em;
}

/* TODO: DRY */
.gutter-line-active {
  color: #ffffff;
  display: block;
  font-family: Consolas, monospace;
  font-size: 1em;  
}

.cursor {
  border-left: solid #ffffff;
  position: absolute; 
}

.command-modal-container {
  background-color: #525151;
  border-radius: 15px;
  height: 5%;
  left: 30%;
  min-height: 50px;
  min-width: 400px;
  top: 0px;
  width: 40%;
  z-index: 1;
  position: fixed;
}

.command-modal-input {
  background-color: #353535;
  border-color: steelblue;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  color: white;
  font-size: 1.2em;
  left: 5%;
  outline-style: none;
  transform: translateY(25%);
  width: 90%;
  position: absolute;
}

.slight-fade {
  opacity: 0.75;
}

